*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif ;

}

body{
    background: #000000;
    /* background: #1f2a32; */
    /* background: #0a1822; */
    /* background: linear-gradient(90deg,  rgb(164, 159, 159) 10% , rgb(115, 151, 202) 100%); */
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}