#about {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}

.aboutDesc {
    font-weight: 300;
    font-size: 1.5rem;
    /* max-width: 50rem; */
    padding: 0 2rem;
    text-align: justify;
}

.aboutBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.aboutBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #1f2a32;
}

.aboutBarImg{
    object-fit: cover;
    height:5rem ;
    width: 5rem;
    margin-right: 2rem;
}

.aboutBarText>p{
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width:430px) {
    .aboutBarText>p {
        font-size: 2vw;
    }
    .aboutBarImg{
        height: 5rem;
        width: 5rem;
    }
    .aboutBarText >h2 {
        font-size: 5vw;
    }
    .aboutBarText >p {
        font-size: 2.25vw;
    }
    .aboutDesc {
        font-size: 1rem;
    }

    
}