.navbar{
    height: srem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;


}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom:3px solid yellow ;
}

.desktopmenuBtn {
    background: white;
    color: black  ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 1rem;
}

.desktopmenuImg {
    object-fit: cover;
    margin:0rem;
    height: 3rem;
    width: 5rem;
}

@media screen and (max-width:430px) {
    .desktopmenu {
        margin: 0 2rem;
        align-items: center;
        object-fit: cover;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

.active {
    color: yellow;
    border-bottom: 3px solid yellow;
    padding-bottom: 0.5rem;
}

.navMenu {
    position:absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: 15rem;
    height: fit-content;
    background: rgb(40, 40, 40 );
    border-radius: 1rem ;
}

.ListItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30,30);
}

.monMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;

}

@media screen and (max-width:430px) {
    .monMenu {
        display: flex;
    }

    .desktopmenu{
        display: none;
    }
    
}